$primary:#13a0cb;
$secondary: #4771cb;
$color-light:#fff;
$danger:#fd6a54;
$dark:#000;
$content:#333;
$light: #f2f2f2;
$dark-2:#242526;
$indicator: #98bc40;
$banner-btn:rgba(247, 100, 31, 0.89);
// $global-btn:

//  $accordion-button-bg: rgba(187,187,187,.5);
// $accordion-button-bg:#eee;
$accordion-icon-width:1.25rem;
$accordion-icon-color:$primary;
$accordion-icon-active-color:$primary;
// $accordion-button-icon: url("/assets/images/plus-icon.png");
// $accordion-button-active-icon:url("/assets/images/minus-icon.png");

$accordion-button-icon: url("/Travel-ProBusiness-Website1683020486015/assets/images/plus-icon.png");

$accordion-button-active-icon: url("/Travel-ProBusiness-Website1683020486015/assets/images/minus-icon.png");
$accordion-button-focus-border-color:none;
$accordion-button-focus-box-shadow:none;

//.bg-primary{color:#33ccc5!important;}
// .bg-secondary{color: #4771cb!important;}
// .bg-light{color:#fff !important;}
// .text-primary{color:#33ccc5!important;}
// .text-secondary{color: #4771cb!important;}
// .text-light{color:#fff !important;}
// $navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
// $navbar-dark-toggler-border-color:  rgba($white, .1);
