.copy_right {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;

.footer_copyright{
    
     p {
        padding-left: 15px;
        color: #70828e;
     }
    
    }
}