.dayplan-section {
    border-bottom: solid 1px #e7e7e7;

    .sight-seeing {
        position: relative;
        padding: 0px 25px 10px 25px;

        .sight-seeing-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
        }

        .sight-seeing-body {
            display: flex;
            flex-direction: row;

          .image-wrapper{
            width: 243px;
            height: 155px;
            //border-radius: 4px;
             margin-right: 15px;
             box-sizing: border-box;
             align-self: flex-start;
             //display: flex;
            position: relative;

            .imageLoader{
               width: 243px;
               height: 155px;
               object-fit: cover;
                background-size: cover;
            img{
                display: block;
                //opacity: 1;
                object-fit: cover;    
               }
           }
          }  
          .sight-seeing-details{
             display: flex;
             flex-direction: column;
             flex: 1;
            
             .name-highlight{
             margin-bottom: 15px;

             .name-title{
                 color: #000;
                font-size: 16px;
                font-weight: 900;
             }
             .sub-Text{
                font-size: 12px;
                line-height: 12px;
                margin-top: 3px;
             }
             }
             .sight-list {
                display: flex;
                flex-wrap: wrap;
                list-style: disc;
                margin-left: 15px;
                margin-bottom: 10px;
                li {
                    width: 50%;
                    margin-bottom: 12px;
                    font-size: 13px;
                }
            }
            .small-Text{
              display: flex;
              justify-content: space-between;
              
              .flexOne{
                display: flex;
                flex: 1;

                .leftCont{
                    margin-right: 26px;
                } 

                .firstText{
                    margin-bottom: 6px;
                    font-size: 10px;
                     line-height: 10px;
                     color: #9b9b9b !important;
                    }
                .secondText{
                    font-size: 14px;
                    line-height: 14px;
                    color: #000;
                  }
                }
              }
            }
             }
          }
     }

     @media (max-width: 767px){
        .sight-seeing {
            padding: 0 !important;
        }

        .image-wrapper{
            height: 68px !important;
            width: 100px !important;
            margin-right: 10px !important;

            .imageLoader{
                height: 68px !important;
              width: 100px !important;
              background-size: cover;
            }
            
           }
        .name-highlight{
            .name-title{
                font-size: 14px !important;
                font-weight: 700 !important;
            }
            .sub-Text{
                font-size: 11px !important;
                line-height: 11px !important;
                margin-top: 3px !important;
             }

            } 
            .sight-list{
               // margin-left: 0 !important;
                list-style: disc !important;
                li {
                    
                    margin-bottom: 12px;
                    font-size: 11px !important;
                }
            }
            .small-Text{
                display: none !important;

            }
     }